/* index.css */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #f3f1f1;
    font-family: 'Montserrat ', Helvetica;
   
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f1f1;
  }
.form-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px #555;
    background-color: #ffffff;
  }


.main-stage {
    flex: 10;
    display: flex;
    flex-direction: column;
    padding: 8em;
    background: #f3f1f1;
}

.nav-button {
    color: white;
    font-size: 150%;
    cursor: pointer;
    
}

.stage-banner {
    position: relative;
    margin: 0.5em;
}


.stage-title {
    text-align: center;
    padding: 1em 0;
    margin: 0.5em;
    color: rgb(40, 103, 238);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 150%;
    letter-spacing: 2px;
}

.main-container {
    display: block;
    flex-direction: column;
    overflow-y: scroll;
}

.ui-button {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 1em 0;
    padding: 1em;
    width: 50%;
    background: rgb(0, 0, 0);
    color:  rgb(255, 255, 255);
    left: 0;
    right: 0;
    border-radius: 28px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    color:  rgb(40, 103, 238);
}

#contact-form label {
    padding: 1em 0;

}

#contact-form input[type="text"] {
    margin: 0 0 0.5em 0;
    padding: 0.75em;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #cfcfcf;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

  
  .message {
      height: 60px
  }

  .button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1em 0;
  padding: 1em;
  width: 50%;
  background: rgb(0, 0, 0);
  color:  rgb(255, 255, 255);
  left: 0;
  right: 0;
  border-radius: 28px;
}