<!DOCTYPE html>
<html>
    <Head>
        <style>
            body{background: skyblue; font-family: verdana; color: #ffffff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;} 
            </style>
    </Head>
    <body>
        <% include nav.ejs %>
        <h1>Contact Us!</h1>
        <p>Thanks for getting in touch!</p>
        <p> <%= data.fname %> you sucessfully contacted Capitalviz. </p>
        <p> You will recieve a reply shortly to <%= data.email %></p>
    </body>
</html>