<!DOCTYPE html>
<html>
    <Head>
        <style>
            body{background: skyblue; font-family: verdana; color: #ffffff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;} 
            </style>
    </Head>
    <body>
        <% include nav.ejs %>
        <h1>Contact Us!</h1>
        <p>Contact the coolest cats on the web right here...</p>
        <p><%= qs.dept %></p>
    </body>
</html>